{% extends "base.html" %}

{% block title %}sobre{% endblock %}

{% block page_content %}
<div class="page-header">    

    
    <h1 class="sistema"style="font-weight:bold">Este sistema fue creado por</h1>
    <h2 class="fuente" style="font-weight:bold;">Alejandro Moya</h2>
    <h2 class="fuente" style="font-weight:bold;" >Materia:Paradigma de programacion</h2>
    <h2 class="fuente" style="font-weight:bold;">Ciclo lectivo:2019</h2>
    <h2 class="fuente" style="font-weight:bold;">Profesor:Leandro Colombo</h2>
</div>
{% endblock %}